<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <br>
      <h1>RecordRTC / Rails / FFmpeg</h1>
      <br>
      <video id="preview" controls></video>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <button id="record" class="btn btn-lg btn-success">Record</button>
      <button id="stop" class="btn btn-lg btn-danger" disabled>Stop</button>
    </div>
  </div>
</div>
<%= javascript_include_tag 'RecordRTC' %>
<%= javascript_include_tag 'static_pages_index' %>