<h1>RecordRTC / PHP / FFmpeg</h1>

<section class="experiment">
  <video id="preview" controls style="border: 1px solid rgb(15, 158, 238); height: 480px; max-width: 100%; vertical-align: top; width: 640px;"></video>

  <button id="record">Record</button>
  <button id="stop" disabled>Stop</button>

  <div id="container" style="padding: 1em 2em;"></div>
</section>

<%= javascript_include_tag 'RecordRTC' %>
<%= javascript_include_tag 'static_pages_record' %>