<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <br>
      <h1>Video translation sample</h1>
      <br>
      <video id="video" width="320" height="240" autoplay></video>
      <canvas id="canvas" width="320" height="240"></canvas>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <button id="snap" class="btn btn-lg btn-primary">Snap Photo</button>
    </div>
  </div>
</div>

<%= javascript_include_tag 'static_pages_sample' %>